#root {
  max-width: 1280px;
  text-align: center;
}

.dark-theme{
  --color-list: #ff8c00;
}
.light-theme{
  --color-list: #009dff;
}


body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

