#root {
  max-width: 1280px;

  text-align: center;
}

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.title{
  transition: 1s;
}

@media (max-width: 500px) {
  .matrices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .option-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    align-items: center;
  }
}

@media (min-width: 500px) {
  .matrices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 20px;
  }

  .option-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-inline: 20px;
  }
}

.dimensions-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: 20px;
}





.option-selected {
  color: #000;
}


.user-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.user-options select {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid gray;
}

@media (max-width: 500px) {
  .user-options select {
    padding: 5px;
    border-radius: 5px;
    width: 170px;
    background-color: white;
    border: 1px solid gray;
  }
}


.footer{
  margin: 30px;
  bottom: 0;
}